* {
    padding: 0;
    margin: 0;
}
.custom-hotspot {
    cursor: pointer; /* Imposta il cursore a pointer (mano) quando passi sopra l'oggetto */
  }
#panorama {
    width: 100vw;
    height: 100vh;
}
.custom-hotspot2 {
    width: 4.2vw; /* Imposta la larghezza del bottone */
    height: 19.5vh; /* Imposta l'altezza del bottone */
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    background-color: rgba(255, 0, 0, 0.497); /* Imposta il colore di sfondo del bottone */
    border: none; /* Rimuove il bordo */
    line-height: 50px; /* Centra il testo verticalmente */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    text-align: center; /* Centra il testo all'interno del bottone */
    position: absolute;
    transition: opacity 0.5s ease;
    top: 34.5vh;
    left: 24.3vw;
  }
  .info {
    width: 100px; /* Larghezza del rettangolo */
    height: 60px; /* Altezza del rettangolo */
    border-radius: 10px; /* Bordi arrotondati */
    background-color: rgba(18, 17, 16, 0.8); /* Colore di sfondo */
    margin-top: -60px;
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    display: none;
}
.info::after {
    content: ''; /* Contenuto pseudoelemento */
    position: absolute; /* Imposta la posizione assoluta rispetto al rettangolo */
    bottom: -15px; /* Sposta il triangolo in basso del valore desiderato */
    left: 13%; /* Centra il triangolo orizzontalmente */
    margin-left: -10px; /* Per centrare il triangolo */
    border-width: 10px; /* Dimensioni del triangolo */
    border-style: solid;
    border-color: rgba(18, 17, 16, 0.8) transparent transparent transparent; /* Colore del triangolo */
}
/*
pulsante per home
*/
#buttonbordered {
    position: absolute;
    width: 70px;
    height: 60px;
    margin-top: -70px;
    margin-left: 48%;
    background-color:rgba(0, 0, 0, 0.038);
    color: rgb(0, 0, 0);
    border-radius: 30px;
    cursor: pointer; /* Cambia il cursore quando si passa sopra il pulsante */
    border: 0.5px solid black;
}
#buttonbordered::before,
#buttonbordered::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 25px;
    border-radius: 4px;
    top: 25px;
    background-color: #000;
}

#buttonbordered::before {
    left: 15px;
}

#buttonbordered::after {
    right: 15px;
}
#casa {
    position: absolute;
    width: 40px;
    height: 10px;
    border-radius: 4px;
    left: 15px;
    top: 25px;
    background-color: #000;
}
#casa::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 22px;
    border-radius: 4px;
    left: -5px;
    top: -20px;
    background-color: #000;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
#casa::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 40px;
    border-radius: 2px;
    left: 26px;
    top: -20px;
    background-color: #000;
}
#foyer {
    transition: opacity 0.5s ease;
}
.fade-out {
    opacity: 0;
}
#map {
    width: 100vw;
    height: 100vh;
}
#co {
    position: fixed;
  display: flex;
  top: 0; 
  left: 0;
  justify-content: center;   /* Centra orizzontalmente */
  align-items: center;        /* Centra verticalmente */
  width: 100%;
  height: 100%;
  background-color: black; 
  z-index: 10000;
}
#gir {
    position: fixed;
    top: -2%;
    left: 0;
    justify-content: center; /* Per centrare orizzontalmente */
    align-items: center;    /* Per centrare verticalmente */
    width: 100%;
    height: auto;
    z-index: 100000000;
}
#cornice {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Larghezza dello schermo */
    height: 100%; /* Altezza dello schermo */
    background-image: url('../pics/Inizio/cornice.jpeg'); /* Percorso dell'immagine di sfondo */
    background-size: 100% 100%; /* Streccia l'immagine per adattarla */
    background-position: center; /* Posiziona l'immagine al centro */
    z-index: 2; /* Z-index per sovrapposizione */
    
    display: flex; /* Abilita Flexbox */
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
}

#inizio {
    width: 91.8%; /* Larghezza dell'elemento */
    height: 83.5%; /* Altezza dell'elemento */
    background-image: url('../pics/Inizio/Sfondo.jpeg'); /* Percorso dell'immagine di sfondo */
    background-size: cover; /* Copre completamente l'elemento con l'immagine */
    background-position: center; /* Posiziona l'immagine al centro */
    z-index: 1; /* Z-index inferiore rispetto a #cornice */
}
#test{
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    font-weight: bold;
    text-align: center;
}
#bot {
    width: 7vw; /* Imposta la larghezza del bottone */
    height: 34.5vh; /* Imposta l'altezza del bottone */
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    background-color: rgba(255, 0, 0, 0.497); /* Imposta il colore di sfondo del bottone */
    border: none; /* Rimuove il bordo */
    line-height: 50px; /* Centra il testo verticalmente */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    text-align: center; /* Centra il testo all'interno del bottone */
    position: absolute;
    transition: opacity 0.5s ease;
    top: 34.5vh;
    left: 24.3vw;
}
#bot2 {
    width: 7.5vw; /* Imposta la larghezza del bottone */
    height: 18vh; /* Imposta l'altezza del bottone */
    background-color: rgba(255, 0, 0, 0.497); /* Imposta il colore di sfondo del bottone */
    border: none; /* Rimuove il bordo */
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    text-align: center; /* Centra il testo all'interno del bottone */
    line-height: 50px; /* Centra il testo verticalmente */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    position: absolute;
    top: 71vh;
    left: 24vw;
}
#bot3 {
    width: 7.2vw; /* Imposta la larghezza del bottone */
    height: 35vh; /* Imposta l'altezza del bottone */
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    background-color: rgba(255, 0, 0, 0.497); /* Imposta il colore di sfondo del bottone */
    border: none; /* Rimuove il bordo */
    line-height: 50px; /* Centra il testo verticalmente */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    text-align: center; /* Centra il testo all'interno del bottone */
    position: absolute;
    transition: opacity 0.5s ease;
    top: 34.5vh;
    left: 32.5vw;
}
/* Stile per il passaggio del mouse */
#button:hover {
    opacity: 0.8; /* Riduce leggermente l'opacità quando il mouse si trova sopra il bottone */
}
@media (aspect-ratio: 4/3) {
    #cornice {
        background-image: url('../pics/Inizio/cornice2.jpeg');
        background-size: 100% 100%; 
        background-repeat: no-repeat;
    }
    #inizio{
        padding-top: 0.2%;
        height: 83.5%; /* Altezza dell'elemento */
    }
    #bot{
        width: 7.3vw; /* Riduci leggermente la larghezza per compensare */
        height: 22vh; /* Aumenta l'altezza per mantenere il rapporto proporzionale */
        font-size: 24px; /* Modifica la dimensione del testo se necessario */
        /* Puoi adattare ulteriormente la posizione se serve */
        top: 40vh;
        left: 24vw;
    }
    #bot2{
        width: 7.5vw; /* Riduci leggermente la larghezza per compensare */
        height: 11vh; /* Aumenta l'altezza per mantenere il rapporto proporzionale */
        font-size: 16px; /* Modifica la dimensione del testo se necessario */
        line-height: 20px;
        top: 63.5vh;
        left: 24vw;
    }
    #bot3{
        width: 6.8vw; /* Riduci leggermente la larghezza per compensare */
        height: 22.5vh; /* Aumenta l'altezza per mantenere il rapporto proporzionale */
        font-size: 16px; /* Modifica la dimensione del testo se necessario */
        line-height: 20px;
        top: 40vh;
        left: 32.5vw;
    }
}
@media (aspect-ratio: 16/9) {
    #bot{
        width: 7.5vw; /* Riduci leggermente la larghezza per compensare */
        height: 30vh; /* Aumenta l'altezza per mantenere il rapporto proporzionale */
        font-size: 30px; /* Modifica la dimensione del testo se necessario */
        /* Puoi adattare ulteriormente la posizione se serve */
        top: 36.5vh;
        left: 24vw;
    }
    #bot2{
        width: 7.5vw; /* Riduci leggermente la larghezza per compensare */
        height: 15vh; /* Aumenta l'altezza per mantenere il rapporto proporzionale */
        font-size: 22px; /* Modifica la dimensione del testo se necessario */
        line-height: 20px;
        top: 68vh;
        left: 24vw;
    }
    #bot3{
        width: 7vw; /* Riduci leggermente la larghezza per compensare */
        height: 30vh; /* Aumenta l'altezza per mantenere il rapporto proporzionale */
        font-size: 22px; /* Modifica la dimensione del testo se necessario */
        line-height: 20px;
        top: 36.5vh;
        left: 32.5w;
    }
}
@media (aspect-ratio: 18/9) {
    #bot{
        width: 7.3vw; /* Riduci leggermente la larghezza per compensare */
        height: 33vh; /* Aumenta l'altezza per mantenere il rapporto proporzionale */
        font-size: 30px; /* Modifica la dimensione del testo se necessario */
        /* Puoi adattare ulteriormente la posizione se serve */
        top: 35vh;
        left: 24vw;
    }
    #bot2{
        width: 7.5vw; /* Riduci leggermente la larghezza per compensare */
        height: 16.5vh; /* Aumenta l'altezza per mantenere il rapporto proporzionale */
        font-size: 22px; /* Modifica la dimensione del testo se necessario */
        line-height: 20px;
        top: 70.5vh;
        left: 24vw;
    }
    #bot3{
        width: 7vw; /* Riduci leggermente la larghezza per compensare */
        height: 33.5vh; /* Aumenta l'altezza per mantenere il rapporto proporzionale */
        font-size: 22px; /* Modifica la dimensione del testo se necessario */
        line-height: 20px;
        top: 35vh;
        left: 32.5vw;
    }
}
@media (aspect-ratio: 20/9) {
    #bot{
        width: 7.5vw; /* Riduci leggermente la larghezza per compensare */
        height: 37vh; /* Aumenta l'altezza per mantenere il rapporto proporzionale */
        font-size: 28px; /* Modifica la dimensione del testo se necessario */
        /* Puoi adattare ulteriormente la posizione se serve */
        top: 33.5vh;
        left: 24vw;
    }
    #bot2{
        width: 7.5vw; /* Riduci leggermente la larghezza per compensare */
        height: 18.5vh; /* Aumenta l'altezza per mantenere il rapporto proporzionale */
        font-size: 22px; /* Modifica la dimensione del testo se necessario */
        line-height: 20px;
        top: 72.5vh;
        left: 24vw;
    }
    #bot3{
        width: 7vw; /* Riduci leggermente la larghezza per compensare */
        height: 37vh; /* Aumenta l'altezza per mantenere il rapporto proporzionale */
        font-size: 22px; /* Modifica la dimensione del testo se necessario */
        line-height: 20px;
        top: 33.5vh;
        left: 32.5vw;
    }
}
@media (aspect-ratio: 22/9) {
    #buttonbordered {
        margin-top: 70vh;
        margin-left: 45vw;
    }
    #bot{
        width: 7.5vw; /* Riduci leggermente la larghezza per compensare */
        height: 41vh; /* Aumenta l'altezza per mantenere il rapporto proporzionale */
        font-size: 26px; /* Modifica la dimensione del testo se necessario */
        /* Puoi adattare ulteriormente la posizione se serve */
        top: 31.8vh;
        left: 24vw;
    }
    #bot2{
        width: 7.5vw; /* Riduci leggermente la larghezza per compensare */
        height: 17vh; /* Aumenta l'altezza per mantenere il rapporto proporzionale */
        font-size: 18px; /* Modifica la dimensione del testo se necessario */
        line-height: 20px;
        top: 75vh;
        left: 24vw;
    }
    #bot3{
        width: 7vw; /* Riduci leggermente la larghezza per compensare */
        height: 41vh; /* Aumenta l'altezza per mantenere il rapporto proporzionale */
        font-size: 18px; /* Modifica la dimensione del testo se necessario */
        line-height: 20px;
        top: 31.8vh;
        left: 32.5vw;
    }
}
