body {
    background-color: rgb(241, 212, 175);
}
#title {
    font-family: "Times New Roman", Times, serif;
    font-size: 60px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    margin-top: 2.5%;
    text-shadow: 
    -2px -2px 0 black,  
     2px -2px 0 black,
    -2px  2px 0 black,
     2px  2px 0 black;
}
#testo {
    margin-top: 10%; 
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
}
.parte1 {
    display: flex;
    margin-top: 13.6%;
    flex-direction: row-reverse; /* Inverti l'ordine dei figli */
    justify-content: space-between;
    align-items: center;
}
.text-column {
    flex: 1;
    margin-top: -130px; 
    padding-left: 20px;
    padding: 20px 80px; 
    text-align: center; /* Centra il testo orizzontalmente */
}
.image-column {
    margin-top: -35px; 
    display: flex;
    justify-content: center; /* Centra l'immagine orizzontalmente */
    align-items: center; /* Centra l'immagine verticalmente */
    padding-left: 20px;
    flex: 1;
    text-align: center; /* Opzionale: centra l'immagine orizzontalmente all'interno della colonna */
}
.image-column img {
    max-width: 48%;
    transform: rotate(-10deg); /* Ruota l'immagine di 45 gradi */
    height: 46%;
    display: block;
    border: 20px solid #ddd; /* Definisce uno stile di bordo */
    border-bottom: 80px solid #ddd;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1); /* Aggiunge un'ombra */
    z-index: 1;
}

#header {
    position: absolute; /* Posizione fissa rispetto alla finestra del browser */
    top: 0; /* Allinea l'elemento all'inizio della finestra */
    left: 0; /* Allinea l'elemento all'inizio della finestra */
    width: 100vw; /* Larghezza pari al 100% della larghezza della finestra */
    height: 20%; /* Altezza pari al 30% dell'altezza della finestra */
    background-image: url("../immagini/manoscritto.jpg"); /* Percorso dell'immagine */
    background-size: cover; /* Adatta l'immagine per coprire tutto l'elemento */
    background-position: center; /* Centra l'immagine */
    justify-content: center; /* Centra gli elementi lungo l'asse principale (orizzontalmente) */
    align-items: center;
    text-align: center;
}