* {
    padding: 0;
    margin: 0;
}
.custom-hotspot {
    cursor: pointer; /* Imposta il cursore a pointer (mano) quando passi sopra l'oggetto */
  }
#panorama {
    width: 100vw;
    height: 100vh;
}
.custom-hotspot2 {
    cursor: pointer; /* Imposta il cursore a pointer (mano) quando passi sopra l'oggetto */
    width: 80px;
    height: 80px;
    background: url('../pics/loghi/freccia.png') no-repeat center center;
    background-size: cover;
  }
.info {
    width: 100px; /* Larghezza del rettangolo */
    height: 60px; /* Altezza del rettangolo */
    border-radius: 10px; /* Bordi arrotondati */
    background-color: rgba(18, 17, 16, 0.8); /* Colore di sfondo */
    margin-top: -60px;
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    display: none;
}
.info::after {
    content: ''; /* Contenuto pseudoelemento */
    position: absolute; /* Imposta la posizione assoluta rispetto al rettangolo */
    bottom: -15px; /* Sposta il triangolo in basso del valore desiderato */
    left: 13%; /* Centra il triangolo orizzontalmente */
    margin-left: -10px; /* Per centrare il triangolo */
    border-width: 10px; /* Dimensioni del triangolo */
    border-style: solid;
    border-color: rgba(18, 17, 16, 0.8) transparent transparent transparent; /* Colore del triangolo */
}
 /*
pulsante per home
*/
#buttonbordered {
    position: absolute;
    width: 70px;
    height: 60px;
    margin-top: -70px;
    margin-left: 48%;
    background-color:rgba(0, 0, 0, 0.038);
    color: rgb(0, 0, 0);
    border-radius: 30px;
    cursor: pointer; /* Cambia il cursore quando si passa sopra il pulsante */
    border: 0.5px solid black;
}
#buttonbordered::before,
#buttonbordered::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 25px;
    border-radius: 4px;
    top: 25px;
    background-color: #000;
}

#buttonbordered::before {
    left: 15px;
}

#buttonbordered::after {
    right: 15px;
}
#casa {
    position: absolute;
    width: 40px;
    height: 10px;
    border-radius: 4px;
    left: 15px;
    top: 25px;
    background-color: #000;
}
#casa::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 22px;
    border-radius: 4px;
    left: -5px;
    top: -20px;
    background-color: #000;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
#casa::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 40px;
    border-radius: 2px;
    left: 26px;
    top: -20px;
    background-color: #000;
}
/*immagini*/
.Lap06 {
    position: absolute;
    cursor: pointer; /* Imposta il cursore a pointer (mano) quando passi sopra l'oggetto */
    width: 300px;
    height: 450px;
    top: -160px;
    left: -80px;
    background: url('../pics/Lapidi/Lapide06.jpeg') no-repeat center center;
    background-size: cover;
    display: none;
}
.Lap95 {
    position: absolute;
    cursor: pointer; /* Imposta il cursore a pointer (mano) quando passi sopra l'oggetto */
    width: 300px;
    height: 450px;
    top: -160px;
    left: -80px;
    background: url('../pics/Lapidi/Lapide95.jpeg') no-repeat center center;
    background-size: cover;
    display: none;
}
.Dedica {
    position: absolute;
    cursor: pointer; /* Imposta il cursore a pointer (mano) quando passi sopra l'oggetto */
    width: 210px;
    height: 140px;
    bottom: 0px;
    left: -80px;
    background: url('../pics/Dedica/Dedica.jpeg') no-repeat center center;
    background-size: cover;
    display: none;
}
.ProgettoL {
    position: absolute;
    cursor: pointer; /* Imposta il cursore a pointer (mano) quando passi sopra l'oggetto */
    width: 600px;
    height: 480px;
    top: -160px;
    right: -80px;
    background: url('../pics/Planimetrieteatro/Lato.jpeg') no-repeat center center;
    background-size: cover;
    display: none;
}
.ProgettoT {
    position: absolute;
    cursor: pointer; /* Imposta il cursore a pointer (mano) quando passi sopra l'oggetto */
    width: 600px;
    height: 480px;
    top: -160px;
    right: -300px;
    background: url('../pics/Planimetrieteatro/Alto.jpeg') no-repeat center center;
    background-size: cover;
    display: none;
}
.ProgettoF {
    position: absolute;
    cursor: pointer; /* Imposta il cursore a pointer (mano) quando passi sopra l'oggetto */
    width: 600px;
    height: 480px;
    top: -160px;
    right: -300px;
    background: url('../pics/Planimetrieteatro/Davanti.jpeg') no-repeat center center;
    background-size: cover;
    display: none;
}
.Lap81 {
    position: absolute;
    cursor: pointer; /* Imposta il cursore a pointer (mano) quando passi sopra l'oggetto */
    width: 300px;
    height: 400px;
    top: -160px;
    left: -80px;
    background: url('../pics/Lapidi/Lapide81.jpeg') no-repeat center center;
    background-size: cover;
    display: none;
}
.Lap69 {
    position: absolute;
    cursor: pointer; /* Imposta il cursore a pointer (mano) quando passi sopra l'oggetto */
    width: 300px;
    height: 400px;
    top: -160px;
    left: -80px;
    background: url('../pics/Lapidi/Lapide69.jpeg') no-repeat center center;
    background-size: cover;
    display: none;
}