* {
    padding: 0;
    margin: 0;
}
.prova {
    height: 1px;
}
.custom-hotspot {
    cursor: pointer; /* Imposta il cursore a pointer (mano) quando passi sopra l'oggetto */
  }
#panorama {
    width: 100vw;
    height: 100vh;
}
.custom-hotspot2 {
    cursor: pointer; /* Imposta il cursore a pointer (mano) quando passi sopra l'oggetto */
    width: 80px;
    height: 80px;
    background: url('../pics/loghi/freccia.png') no-repeat center center;
    background-size: cover;
  }
.info {
    width: 100px; /* Larghezza del rettangolo */
    height: 60px; /* Altezza del rettangolo */
    border-radius: 10px; /* Bordi arrotondati */
    background-color: rgba(18, 17, 16, 0.8); /* Colore di sfondo */
    margin-top: -60px;
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    display: none;
}
.info::after {
    content: ''; /* Contenuto pseudoelemento */
    position: absolute; /* Imposta la posizione assoluta rispetto al rettangolo */
    bottom: -15px; /* Sposta il triangolo in basso del valore desiderato */
    left: 13%; /* Centra il triangolo orizzontalmente */
    margin-left: -10px; /* Per centrare il triangolo */
    border-width: 10px; /* Dimensioni del triangolo */
    border-style: solid;
    border-color: rgba(18, 17, 16, 0.8) transparent transparent transparent; /* Colore del triangolo */
}
.scr {
    position: absolute;
    width: 210px; /* Larghezza del rettangolo */
    height: 480px; /* Altezza del rettangolo */
    border-radius: 10px; /* Bordi arrotondati */
    background-color: rgba(18, 17, 16, 0.8); /* Colore di sfondo */
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    margin-left: 30px;
    text-align: center;
    overflow-y: auto; /* Barra di scorrimento verticale se necessario */
    overflow-x: hidden;/* Nasconde la scrollbar verticale */
    color: #ffffff;
    font-size: 20px;
    display: none; /* Nasconde il div per default */
    z-index: 1;
}
.sc {
    position: absolute;
    width: 210px; /* Larghezza del rettangolo */
    height: 420px; /* Altezza del rettangolo */
    border-radius: 10px; /* Bordi arrotondati */
    background-color: rgba(18, 17, 16, 0.8); /* Colore di sfondo */
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    margin-left: 30px;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    display: none; /* Nasconde il div per default */
    z-index: 1;
}
.scr::after {
    content: ''; /* Contenuto pseudoelemento */
    position: absolute; /* Imposta la posizione assoluta rispetto al rettangolo */
    top: 50%; /* Posiziona verticalmente al centro */
    right: -8px; /* Sposta il triangolo a destra del rettangolo */
    margin-top: -10px; /* Per centrare verticalmente il triangolo */
    border-width: 10px; /* Dimensioni del triangolo */
    border-style: solid;
    border-color: transparent transparent transparent rgba(18, 17, 16, 0.8); /* Colore del triangolo */
    transform: rotate(-180deg); /* Ruota il triangolo di 90 gradi a sinistra */
} 
.scr::-webkit-scrollbar {
    width: 10px; /* Larghezza della scrollbar verticale */
}

.scr::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.3); /* Colore del tracciato della scrollbar */
    border-radius: 10px; /* Rendi il tracciato arrotondato */
}

.scr::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5); /* Colore della "maniglia" della scrollbar */
    border-radius: 10px; /* Rendi la maniglia arrotondata */
}

.scr::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.8); /* Colore della maniglia quando passa sopra */
}

/* Personalizzazione della scrollbar per Firefox */
.scr {
    scrollbar-width: thin; /* Rendi la scrollbar sottile */
    scrollbar-color: rgba(255, 255, 255, 0.5) rgba(0, 0, 0, 0.3); /* Colore della maniglia e del tracciato */
}

.button {
    margin-top: 10px; /* Spazio sopra il bottone */
    padding: 5px 10px; /* Padding del bottone: verticalmente 10px, orizzontalmente 20px */
    margin-bottom: 10px; /* Spazio sotto il bottone */
    background-color: rgba(25, 76, 132, 0.7); /* Colore di sfondo blu con trasparenza */
    color: white; /* Colore del testo */
    border: none; /* Rimuove il bordo predefinito */
    border-radius: 15px; /* Bordi arrotondati */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    font-size: 16px; /* Dimensione del testo */
    font-family: "Times New Roman", Times, serif; /* Font del testo */
    transition: background-color 0.3s ease, transform 0.2s ease;
}
 /*
pulsante per home
*/
#buttonbordered {
    position: absolute;
    width: 70px;
    height: 60px;
    margin-top: -70px;
    margin-left: 48%;
    background-color:rgba(0, 0, 0, 0.038);
    color: rgb(0, 0, 0);
    border-radius: 30px;
    cursor: pointer; /* Cambia il cursore quando si passa sopra il pulsante */
    border: 0.5px solid black;
}
#buttonbordered::before,
#buttonbordered::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 25px;
    border-radius: 4px;
    top: 25px;
    background-color: #000;
}

#buttonbordered::before {
    left: 15px;
}

#buttonbordered::after {
    right: 15px;
}
#casa {
    position: absolute;
    width: 40px;
    height: 10px;
    border-radius: 4px;
    left: 15px;
    top: 25px;
    background-color: #000;
}
#casa::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 22px;
    border-radius: 4px;
    left: -5px;
    top: -20px;
    background-color: #000;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
#casa::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 40px;
    border-radius: 2px;
    left: 26px;
    top: -20px;
    background-color: #000;
}
/*immagini*/
.Lap06 {
    position: absolute;
    cursor: pointer; /* Imposta il cursore a pointer (mano) quando passi sopra l'oggetto */
    width: 300px;
    height: 450px;
    top: -220px;
    left: -80px;
    background: url('../pics/Lapidi/Lapide06.jpeg') no-repeat center center;
    background-size: cover;
    display: none;
    border: 20px solid #ddd; /* Definisce uno stile di bordo */
    border-bottom: 90px solid #ddd;
}
.Lap95 {
    position: absolute;
    cursor: pointer; /* Imposta il cursore a pointer (mano) quando passi sopra l'oggetto */
    width: 300px;
    height: 450px;
    top: -250px;
    left: -80px;
    background: url('../pics/Lapidi/Lapide95.jpeg') no-repeat center center;
    background-size: cover;
    display: none;
    border: 20px solid #ddd; /* Definisce uno stile di bordo */
    border-bottom: 70px solid #ddd;
}
.Dedica {
    position: absolute;
    cursor: pointer; /* Imposta il cursore a pointer (mano) quando passi sopra l'oggetto */
    width: 210px;
    height: 140px;
    bottom: 0px;
    left: -80px;
    background: url('../pics/Dedica/Dedica.jpeg') no-repeat center center;
    background-size: cover;
    display: none;
    border: 20px solid #ddd; /* Definisce uno stile di bordo */
    border-bottom: 80px solid #ddd;
}
.ProgettoL {
    position: absolute;
    cursor: pointer; /* Imposta il cursore a pointer (mano) quando passi sopra l'oggetto */
    width: 600px;
    height: 480px;
    top: -160px;
    right: -80px;
    background: url('../pics/Planimetrieteatro/Lato.jpeg') no-repeat center center;
    background-size: cover;
    display: none;
    border: 20px solid #ddd; /* Definisce uno stile di bordo */
    border-bottom: 70px solid #ddd;
}
.ProgettoT {
    position: absolute;
    cursor: pointer; /* Imposta il cursore a pointer (mano) quando passi sopra l'oggetto */
    width: 600px;
    height: 480px;
    top: -160px;
    right: -300px;
    background: url('../pics/Planimetrieteatro/Alto.jpeg') no-repeat center center;
    background-size: cover;
    display: none;
    border: 20px solid #ddd; /* Definisce uno stile di bordo */
    border-bottom: 70px solid #ddd;
}
.ProgettoF {
    position: absolute;
    cursor: pointer; /* Imposta il cursore a pointer (mano) quando passi sopra l'oggetto */
    width: 600px;
    height: 480px;
    top: -160px;
    right: -300px;
    background: url('../pics/Planimetrieteatro/Davanti.jpeg') no-repeat center center;
    background-size: cover;
    display: none;
    border: 20px solid #ddd; /* Definisce uno stile di bordo */
    border-bottom: 70px solid #ddd;
}
.Lap81 {
    position: absolute;
    cursor: pointer; /* Imposta il cursore a pointer (mano) quando passi sopra l'oggetto */
    width: 300px;
    height: 400px;
    top: -240px;
    left: -80px;
    background: url('../pics/Lapidi/Lapide81.jpeg') no-repeat center center;
    background-size: cover;
    display: none;
    border: 20px solid #ddd; /* Definisce uno stile di bordo */
    border-bottom: 90px solid #ddd;
}
.Lap69 {
    position: absolute;
    cursor: pointer; /* Imposta il cursore a pointer (mano) quando passi sopra l'oggetto */
    width: 300px;
    height: 400px;
    top: -160px;
    left: -80px;
    background: url('../pics/Lapidi/Lapide69.jpeg') no-repeat center center;
    background-size: cover;
    display: none;
    border: 20px solid #ddd; /* Definisce uno stile di bordo */
    border-bottom: 70px solid #ddd;
}
.text {
    position: absolute;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    justify-content: center; /* Centra gli elementi lungo l'asse principale (orizzontalmente) */
    align-items: center;
    color: rgb(0, 0, 0);
}
.Lug {
    position: absolute;
    cursor: pointer; /* Imposta il cursore a pointer (mano) quando passi sopra l'oggetto */
    width: 300px;
    height: 400px;
    top: -240px;
    left: -80px;
    background: url('../pics/sculture/Luigi.jpeg') no-repeat center center;
    background-size: cover;
    display: none;
    border: 20px solid #ddd; /* Definisce uno stile di bordo */
    border-bottom: 90px solid #FFF;
}
.Mil {
    position: absolute;
    cursor: pointer; /* Imposta il cursore a pointer (mano) quando passi sopra l'oggetto */
    width: 300px;
    height: 800px;
    top: -240px;
    left: -80px;
    background: url('../pics/sculture/Millefiori.jpeg') no-repeat center center;
    background-size: cover;
    display: none;
    border: 20px solid #ddd; /* Definisce uno stile di bordo */
    border-bottom: 90px solid #ddd;
}
.Pietro {
    position: absolute;
    cursor: pointer; /* Imposta il cursore a pointer (mano) quando passi sopra l'oggetto */
    width: 300px;
    height: 400px;
    top: -240px;
    left: -80px;
    background: url('../pics/sculture/Pietro.jpeg') no-repeat center center;
    background-size: cover;
    display: none;
    border: 20px solid #ddd; /* Definisce uno stile di bordo */
    border-bottom: 60px solid #ddd;
}
.Z {
    position: absolute;
    cursor: pointer; /* Imposta il cursore a pointer (mano) quando passi sopra l'oggetto */
    width: 300px;
    height: 400px;
    top: -240px;
    left: -80px;
    background: url('../pics/sculture/Zeus.jpeg') no-repeat center center;
    background-size: cover;
    display: none;
    border: 20px solid #ddd; /* Definisce uno stile di bordo */
    border-bottom: 60px solid #ddd;
    z-index: 100;
}
.Pip {
    position: absolute;
    cursor: pointer; /* Imposta il cursore a pointer (mano) quando passi sopra l'oggetto */
    width: 300px;
    height: 400px;
    top: -240px;
    left: -80px;
    background: url('../pics/sculture/Pippo.jpeg') no-repeat center center;
    background-size: cover;
    display: none;
    border: 20px solid #ddd; /* Definisce uno stile di bordo */
    border-bottom: 60px solid #ddd;
    z-index: 100;
}

@media (pointer: coarse) {
    .prova {
        height: 10px;
    }
}